*, *::before, *::after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

html {
  font-size: 12px; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
  html {
    font-size: 11px; } }

/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
  html {
    font-size: 10px; } }

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
  html {
    font-size: 9px; } }

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  html {
    font-size: 7px; } }

/* Landscape phones and smaller */
@media (max-width: 480px) {
  html {
    font-size: 6px; } }

.flower {
  background-color: #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%; }
  .flower__middle h2 {
    background-color: #00bff3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    height: 20rem;
    width: 20rem; }
  .flower__element {
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-shadow: 1px 1px 1px #000000;
    text-transform: uppercase;
    transition: all .4s linear;
    z-index: 999; }
    .flower__element.large {
      cursor: pointer;
      padding: 1rem;
      top: calc(50% - 4rem);
      left: calc(50% - 4rem);
      text-align: center;
      height: 8rem;
      width: 8rem; }
      .flower__element.large:hover {
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5); }
    .flower__element.medium {
      top: calc(50% - 2rem);
      left: calc(50% - 2rem);
      height: 4rem;
      width: 4rem; }
    .flower__element.small {
      top: calc(50% - 1.5rem);
      left: calc(50% - 1.5rem);
      height: 3rem;
      width: 3rem; }

.large.element-1 {
  animation: large1 1s linear forwards; }

@keyframes large1 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(45deg) translate(30rem) rotate(-45deg); } }

.medium.element-1 {
  animation: medium1 1s linear forwards; }

@keyframes medium1 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(45deg) translate(22rem) rotate(-45deg); } }

.small.element-1 {
  animation: small1 1s linear forwards; }

@keyframes small1 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(45deg) translate(15rem) rotate(-45deg); } }

.large.element-2 {
  animation: large2 1s linear forwards; }

@keyframes large2 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(90deg) translate(30rem) rotate(-90deg); } }

.medium.element-2 {
  animation: medium2 1s linear forwards; }

@keyframes medium2 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(90deg) translate(22rem) rotate(-90deg); } }

.small.element-2 {
  animation: small2 1s linear forwards; }

@keyframes small2 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(90deg) translate(15rem) rotate(-90deg); } }

.large.element-3 {
  animation: large3 1s linear forwards; }

@keyframes large3 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(135deg) translate(30rem) rotate(-135deg); } }

.medium.element-3 {
  animation: medium3 1s linear forwards; }

@keyframes medium3 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(135deg) translate(22rem) rotate(-135deg); } }

.small.element-3 {
  animation: small3 1s linear forwards; }

@keyframes small3 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(135deg) translate(15rem) rotate(-135deg); } }

.large.element-4 {
  animation: large4 1s linear forwards; }

@keyframes large4 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(180deg) translate(30rem) rotate(-180deg); } }

.medium.element-4 {
  animation: medium4 1s linear forwards; }

@keyframes medium4 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(180deg) translate(22rem) rotate(-180deg); } }

.small.element-4 {
  animation: small4 1s linear forwards; }

@keyframes small4 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(180deg) translate(15rem) rotate(-180deg); } }

.large.element-5 {
  animation: large5 1s linear forwards; }

@keyframes large5 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(225deg) translate(30rem) rotate(-225deg); } }

.medium.element-5 {
  animation: medium5 1s linear forwards; }

@keyframes medium5 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(225deg) translate(22rem) rotate(-225deg); } }

.small.element-5 {
  animation: small5 1s linear forwards; }

@keyframes small5 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(225deg) translate(15rem) rotate(-225deg); } }

.large.element-6 {
  animation: large6 1s linear forwards; }

@keyframes large6 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(270deg) translate(30rem) rotate(-270deg); } }

.medium.element-6 {
  animation: medium6 1s linear forwards; }

@keyframes medium6 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(270deg) translate(22rem) rotate(-270deg); } }

.small.element-6 {
  animation: small6 1s linear forwards; }

@keyframes small6 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(270deg) translate(15rem) rotate(-270deg); } }

.large.element-7 {
  animation: large7 1s linear forwards; }

@keyframes large7 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(315deg) translate(30rem) rotate(-315deg); } }

.medium.element-7 {
  animation: medium7 1s linear forwards; }

@keyframes medium7 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(315deg) translate(22rem) rotate(-315deg); } }

.small.element-7 {
  animation: small7 1s linear forwards; }

@keyframes small7 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(315deg) translate(15rem) rotate(-315deg); } }

.large.element-8 {
  animation: large8 1s linear forwards; }

@keyframes large8 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(360deg) translate(30rem) rotate(-360deg); } }

.medium.element-8 {
  animation: medium8 1s linear forwards; }

@keyframes medium8 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(360deg) translate(22rem) rotate(-360deg); } }

.small.element-8 {
  animation: small8 1s linear forwards; }

@keyframes small8 {
  from {
    transform: rotate(0deg) translate(0rem) rotate(0deg); }
  to {
    transform: rotate(360deg) translate(15rem) rotate(-360deg); } }

.element-1 {
  background-color: #90dfaa; }

.element-2 {
  background-color: #8a5298; }

.element-3 {
  background-color: #00bff3; }

.element-4 {
  background-color: #ff9900; }

.element-5 {
  background-color: #ffd400; }

.element-6 {
  background-color: #cb0000; }

.element-7 {
  background-color: #4ab391; }

.element-8 {
  background-color: #89e9d9; }

.active {
  opacity: 1; }

.disabled {
  opacity: 0.25; }
