///////////////////////////////////
// Variables
// Colors
$color-black: #000000;
$color-grey: #777777;
$color-violet: #8a5298;
$color-white: #ffffff;
$color-blue: #00bff3;
$color-blue-light: #89e9d9;
$color-orange: #ff9900;
$color-yellow: #ffd400;
$color-red: #cb0000;
$color-green: #4ab391;
$color-green-light: #90dfaa;

///////////////////////////////////
// Reset CSS
*, *::before, *::after {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

html {
  font-size: 12px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1439px) {
	html {
		font-size: 11px;
	}
}
 
/* Portrait tablets and medium desktops */
@media (max-width: 1199px) {
	html {
		font-size: 10px;
	}
}
 
/* Portrait tablets and small desktops */
@media (max-width: 991px) {
	html {
		font-size: 9px;
	}
}
 
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	html {
		font-size: 7px;
	}
}
 
/* Landscape phones and smaller */
@media (max-width: 480px) {
	html {
		font-size: 6px;
	}
}