// Flower variables
$count: 8;
$rotation: (360 / $count);
@mixin start-animation {
  transform: rotate(0deg) translate(0rem) rotate(-0deg);
}

.flower {
  background-color: $color-grey;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;

  &__middle {
    h2 {
      background-color: $color-blue;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      padding: 1rem;
      text-align: center;
      height: 20rem;
      width: 20rem;
    }
  }

  &__element {
    border-radius: 50%;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-shadow: 1px 1px 1px $color-black;
    text-transform: uppercase;
    transition: all .4s linear;
    z-index: 999;

    &.large {
      cursor: pointer;
      padding: 1rem;
      top: calc(50% - 4rem);
      left: calc(50% - 4rem);
      text-align: center;
      height: 8rem;
      width: 8rem;

      &:hover {
        box-shadow: 0 0 20px 5px rgba($color-black, .5);
      }
    }

    &.medium {
      top: calc(50% - 2rem);
      left: calc(50% - 2rem);
      height: 4rem;
      width: 4rem;
    }

    &.small {
      top: calc(50% - 1.5rem);
      left: calc(50% - 1.5rem);
      height: 3rem;
      width: 3rem;
    }
  }
}

@for $i from 1 through $count {
  .large.element-#{$i} {
    animation: large#{$i} 1s linear forwards;

    @keyframes large#{$i} {
      from {
        @include start-animation;
      }
      to {
        transform: rotate(#{$rotation * $i}deg) translate(30rem) rotate(-#{$rotation * $i}deg);
      }
    }
  }

  .medium.element-#{$i} {
    animation: medium#{$i} 1s linear forwards;

    @keyframes medium#{$i} {
      from {
        @include start-animation;
      }
      to {
        transform: rotate(#{$rotation * $i}deg) translate(22rem) rotate(-#{$rotation * $i}deg);
      }
    }
  }

  .small.element-#{$i} {
    animation: small#{$i} 1s linear forwards;

    @keyframes small#{$i} {
      from {
        @include start-animation;
      }
      to {
        transform: rotate(#{$rotation * $i}deg) translate(15rem) rotate(-#{$rotation * $i}deg);
      }
    }
  }
}

.element {
  &-1 {
    background-color: $color-green-light;
  }

  &-2 {
    background-color: $color-violet;
  }

  &-3 {
    background-color: $color-blue;
  }

  &-4 {
    background-color: $color-orange;
  }

  &-5 {
    background-color: $color-yellow;
  }

  &-6 {
    background-color: $color-red;
  }

  &-7 {
    background-color: $color-green;
  }
  
  &-8 {
    background-color: $color-blue-light;
  }
}

.active {
  opacity: 1;
}

.disabled {
  opacity: 0.25;
}